<header class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <%= link_to 'Library', welcome_index_path, class: "text-2xl font-bold" %>
    <nav>
      <ul class="flex space-x-4">
        <%= link_to 'Books', books_path, class: "hover:text-gray-300 hover:underline" %>
        <%= link_to 'Students', students_path, class: "hover:text-gray-300 hover:underline" %>
        <%= link_to 'Loans', loans_path, class: "hover:text-gray-300 hover:underline" %>
      </ul>
    </nav>
  </div>
</header>